body {
    font-family: 'Poppins', sans-serif;
}
#content {
    background: #fcfcfc;
}
.search-map {
    min-height: 93vh;
    font-size: 12px;
    background: #F6F6F6;
}

.search-cars {
    max-height: 85vh;
}
.search-parameters {
    min-height: 30vh;
    background: inherit;
}
.search-cars-form .search-bar {
    background: #5F9DFA;
    border-radius: 5px 5px 0px 0px;
}
.search-cars-form .search-bar input {
    background: inherit;
    border: none;
    font-size: 12px;
}
.search-cars-form .search-bar input::placeholder {
    color: white;
}
.search-cars-form .search-bar button {
    border: none;
    background: inherit;
    color: white;
}
.search-cars-form .search-bar input:focus, .search-cars-form .search-bar input:active {
    box-shadow: none;
    background: inherit;
    color: white;
}
.search-parameters .input-group {
}
.search-parameters .input-group-prepend .input-group-text{
    color: black;
    background: white;
    border: none;
}
.search-parameters input {
    font-size: 12px;
}
.search-parameters input:focus {
    box-shadow: none;
}
.car-image {
    height: 10vh;
    width: 10vh;
}
.car-image img {
    height: 100%;
    width: 100%;
}
.search-map nav {
    background: #f1f1f1;
}
.search-map .page-link {
    color: grey;
    font-size: 12px;
    border: none;
    background: inherit;
}
.search-map thead {
    background: #3979D9;
    color: white;
}
.embed-map {
    height: 90vh;
}
.embed-map iframe {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .search-con {
        padding-left: 10px;
        padding-right: 10px;
    }
}