.main-body{
	min-height:100vh;
}
.background-img{
	height: 100vh;
	background: url("../images/cell-phone.svg");
	background-position:0% 0%;
	background-size: cover;
	position:absolute;
	width: 100%;
	background-repeat: no-repeat;
}

/*navbar styling*/
.nav-bar{
	height:10vh;
}
.navbar a{
    color:#5F9DFA !important;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
}
.brand-name{
	height:8vh;
}
.brand-name img{
	height:100%;
	width:100%;
}
.nav-item .btn-primary{
	background:linear-gradient(163.9deg, #5F9DFA 16.72%, #4484E5 83.87%);
}

/*forgotpassword input styling*/
.forgot-pass-box{
	height:52vh;
	margin-top:22vh;
	background: #1B1B1B;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
}
.pass-ques{
	height:18vh;
}
.pass-ques h1{
	color:#5A5A5A;
	text-transform: capitalize;
	font-size: 20px;
	font-style: normal;
	line-height: 27px;
	font-family: Poppins, sans-serif;
}
.pass-ques p{
	color:#969696;
	font-family: Poppins, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
}
.form-control{
	height:7vh;
}
button{
	background:linear-gradient(163.9deg, #5F9DFA 16.72%, #4484E5 83.87%);
	height:7vh;
}

/*footer styling*/
.footer{
	min-height:15vh;
	background: #040404;
}
.footer-brand-name{
	height:8vh;
}
.footer-brand-name img{
	height:100%;
	width:100%;
}
.copyright{
	min-height:8vh;
}
.copyright p{
	color:#A5A5A5;
	font-size:1.2vw;
	font-style:normal;
	font-weight:normal;
}

@media only screen and (max-width: 441px) {
    .copyright p{
        font-size:10px;
    }
    .background-img{
    	background-position: 55% 100%;
    	background-size: cover;
    }
}
@media only screen and (max-width: 411px) {
    .copyright p{
        font-size:10px;
    }
    .background-img{
    	background-position: 55% 100%;
    	background-size: cover;
    }
}
@media only screen and (max-width: 360px) {
    .copyright p{
        font-size:9px;
    }
    .background-img{
    	background-position: 55% 100%;
    	background-size: cover;
    }
}