/*********************login style *******************************/

.login-bg {
    background-image: url("https://res.cloudinary.com/oluwamayowaf/image/upload/v1572116802/Betarides/Signup-bg_iqhyrf.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#login h4 {
    color: #F4F4F4;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    text-transform: capitalize;
}

#login p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #F4F4F4;
}

.login {
    background: #1B1B1B;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
    padding: 1em;
}
.assist_path p {
 padding: 10px;
 cursor: pointer;
 transition: 1s all ease;
}
.assist_path a {
 color: white;
 text-decoration: none;
}
.assist_path p:hover {
 color: #5F9DFA;
 transform: scale(1.05);
}
